<% title = "#{@student}" %>
<% content_for :title do title end %>

<%= image_tag @student.gravatar_url, class: 'img-circle img-responsive center-block' %><br/>

<h1><%= title %></h1>
<p class="text-center"><%= @student.promotion %></p>

<h2>Projets</h2>

<table class="table">
  <thead>
    <tr>
      <th>Projet</th>
      <th>Début</th>
    </tr>
  </thead>
  <tbody>
  <% @student.promotion.courses.each do |course| %>
    <tr class="<%= 'done' if course.done? %><%= 'current' if course.current? %>">
      <td><%= link_to course, course %></td>
      <td><%= course.starting_at.strftime '%d/%m/%Y' %></td>
    </tr>
  <% end %>
  </tbody>
</table>

