<% title = "#{@student}" %>
<% content_for :title do title end %>
<h1><%= title %></h1>
<p><%= @student.promotion %></p>
<%= link_to 'Mettre à jour mon profil', me_path, class: 'btn btn-default btn-xs' %>

<h2>Mes cours</h2>

<div class="row">
  <% @student.promotion.courses.each do |course| %>
    <%= link_to course do %>
      <div class="col-md-3">
        <h3><%= course %></h3>
      </div>
    <% end %>
  <% end %>
</div>

