<% title = "#{@student}" %>
<% content_for :title do title end %>
<h1><%= title %></h1>
<p><%= link_to @student.promotion, @student.promotion %></p>
<%= link_to 'Mettre à jour mon profil', me_path, class: 'btn btn-default' %>

<div class="row">
  <div class="col-md-9">
    <ul class="items list-unstyled">
      <% Achievement.all.each do |achievement| %>
        <% points = @student.note_for achievement %>
        <li>
          <div class="row achievement">
            <div class="col-md-2 col-xs-12 is-done">
              <div class="checkmark"><i class="fa <%= achievement.done_by?(@student) ? 'fa-check-circle-o correct' : 'fa-circle-o incorrect' %>"></i></div>
              <div class="note"><%= achievement.points_by @student %>/<%= achievement.points %></div>
            </div>
            <div class="col-md-10 col-xs-12 text">
              <h2><%= link_to achievement.title, achievement %></h2>
              <p>
                <strong>Pourquoi&nbsp;?</strong>
                <%= raw achievement.why %>
                <strong>Comment&nbsp;?</strong>
                <%= raw achievement.how %>
              </p>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="col-md-3">
    <div class="big-note"><%= @student.note %>/20</div>
  </div>
</div>

<h2>Sessions</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Date</th>
      <th>Promotion</th>
      <th>Intervenant</th>
      <th>Sujet</th>
    </tr>
  </thead>
  <tbody>
    <%= line 'Vendredi 23 septembre', 'MMI 1A', 'Charles & Arnaud', 'Setup' %>
    <%= line 'Vendredi 7 octobre', 'MMI 1A & 2A', 'Arnaud', 'POO' %>
    <%= line 'Lundi 10 octobre', 'MMI 1A', 'Charles', 'POO' %>
    <%= line 'Vendredi 21 octobre', 'MMI 1A', 'Arnaud', 'MVC' %>
    <%= line 'Jeudi 3 novembre', 'MMI 2A', 'Arnaud', 'MVC' %>
    <%= line 'Vendredi 4 novembre', 'MMI 1A & 2A', 'Arnaud', 'Front: Bootstrap, Sass, Fontawesome, Glyphicon, Placehold.it' %>
    <%= line 'Mardi 8 novembre', 'MMI 1A', 'Charles', 'Front: Bootstrap, Sass, Fontawesome, Glyphicon, Placehold.it' %>
    <%= line 'Jeudi 17 novembre', 'MMI 2A', 'Arnaud', 'Back: Simple form, Paperclip + AWS S3, Devise' %>
    <%= line 'Vendredi 18 novembre', 'MMI 1A', 'Arnaud', 'Heroku' %>
    <%= line 'Vendredi 25 novembre', 'MMI 2A', 'Charles', 'Heroku' %>
    <%= line 'Mercredi 30 novembre', 'MMI 1A', 'Charles', 'Back: Simple form, Paperclip + AWS S3, Devise' %>
    <%= line 'Vendredi 2 décembre', 'MMI 1A', 'Charles', 'Middleman + Github pages' %>
    <%= line 'Vendredi 2 décembre', 'MMI 2A', 'Arnaud', '' %>
    <%= line 'Mercredi 14 décembre', 'MMI 1A', 'Charles', '' %>
    <%= line 'Vendredi 16 décembre', 'MMI 1A', 'Arnaud', '' %>
    <%= line 'Mardi 3 janvier', 'MMI 2A', 'Charles', 'Middleman + Github pages' %>
    <%= line 'Mercredi 4 janvier', 'MMI 1A', 'Charles', '' %>
    <%= line 'Vendredi 13 janvier', 'MMI 1A', 'Arnaud', '' %>
  </tbody>
</table>

<h2>Pour aller plus loin...</h2>
<h3>... en front</h3>
<ul>
  <li><a href="https://www.codecademy.com/fr/learn/web" target="_blank">HTML &amp; CSS</a></li>
  <li><a href="https://www.codecademy.com/fr/learn/make-a-website" target="_blank">Make a Website</a></li>
  <li><a href="https://openclassrooms.com/courses/apprenez-a-creer-votre-site-web-avec-html5-et-css3" target="_blank">Apprenez à créer votre site web avec HTML5 et CSS3</a></li>
  <li><a href="https://openclassrooms.com/courses/prenez-en-main-bootstrap" target="_blank">Prenez en main Bootstrap</a></li>
</ul>

<h3>... en back</h3>
<ul>
  <li><a href="http://www.meetup.com/fr-FR/Ruby-Bordeaux" target="_blank">Participer à un Apéro Ruby</a></li>
  <li>Participer à un hackaton ou un startup weekend</li>
  <li><a href="https://codeclimate.com/" target="_blank">Utiliser Code Climate pour devenir un meilleur développeur</a></li>
  <li><a href="http://ricardogeek.com/docs/clean_code.pdf" target="_blank">Lire Clean Code</a></li>
</ul>
Programme et approche pédagogique construits en dialogue avec <a href="https://www.lewagon.com/programme" target="_blank">Le Wagon</a>
