<% title = "Mon profil" %>
<% content_for :title do title end %>
<h1><%= title %></h1>
<%= simple_form_for @student, url: update_me_path do |f| %>
  <%= f.error_notification %>
  <div class="row">
    <div class="col-md-6">
      <%= f.input :firstname, label: 'Prénom' %>
      <%= f.input :lastname, label: 'Nom' %>
      <%= f.association :promotion %>
      <%= f.button :submit, 'Enregistrer' %>
    </div>
    <div class="col-md-6">
      <%= f.input :codecademy, label: 'Entrez votre identifiant Codecademy', hint: 'Par exemple, si votre page sur Codecademy est "https://www.codecademy.com/fr/arnaudlevy", entrez l\'identifiant "arnaudlevy".' %>
      <%= f.input :pluralsight, label: 'Entrez votre identifiant Pluralsight', hint: 'Par exemple, si votre page sur Pluralsight est "https://app.pluralsight.com/profile/arnaud-levy", entrez l\'identifiant "arnaud-levy". Attention, dans "Account", "Profile Info" il faut rendre le profil public ("Visible to public") et rendre visible les cours complets ("Completed courses")' %>
      <%= f.input :github_identifier, label: 'Entrez votre identifiant Github', hint: 'Par exemple, si votre page sur Github est "https://github.com/arnaudlevy", entrez l\'identifiant "arnaudlevy"' %>
      <%= f.input :github_repository, label: 'Entrez le nom de votre application Rails sur Github', hint: 'Par exemple, si votre référentiel sur Github est "https://github.com/arnaudlevy/mystudents", entrez l\'identifiant "mystudents"' %>
      <%= f.input :heroku_app, label: 'Entrez l\'identifiant de votre application Rails sur Heroku', hint: 'Par exemple, si votre page sur Github est "https://mystudents.herokapp.com", entrez l\'identifiant "mystudents"' %>
    </div>
  </div>
<% end %>