
<%= render 'students/achievements', student: @student, show_details: true %>

<h2>Sessions</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Date</th>
      <th>Promotion</th>
      <th>Intervenant</th>
      <th>Sujet</th>
    </tr>
  </thead>
  <tbody>
    <% Event.all.each do |event| %>
      <tr<% if event.past? %> class="past"<% end %>>
        <td><%= l event.date, format: "%A %e %B" %></td>
        <td><%= event.promotions.collect(&:name).join(', ') %></td>
        <td><%= event.teachers.collect(&:firstname).join(' & ') %></td>
        <td><b><%= event.name %></b> <%= event.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>
