<%= simple_form_for [:admin, @event] do |f| %>
  <%= f.error_notification %>
  <div class="row">
    <div class="col-md-4">
      <%= f.input :name, label: 'Nom' %>
      <%= f.input :date, html5: true %>
      <%= f.input :description %>
    </div>
    <div class="col-md-4">
      <%= f.association :promotions, as: :check_boxes %>
    </div>
    <div class="col-md-4">
      <%= f.association :teachers, as: :check_boxes, collection: Student.admin, label: 'Enseignants' %>
    </div>
  </div>
  <%= f.button :submit, 'Enregistrer' %>
<% end %>
