<% show_details ||= false %>

<div class="row">
  <div class="col-md-9">
    <ul class="items list-unstyled">
      <% Achievement.all.each do |achievement| %>
        <% points = student.note_for achievement %>
        <li>
          <div class="row achievement">
            <div class="col-md-2 col-xs-12 is-done">
              <div class="checkmark"><i class="fa <%= achievement.done_by?(student) ? 'fa-check-circle-o correct' : 'fa-circle-o incorrect' %>"></i></div>
              <div class="note"><%= achievement.points_by student %>/<%= achievement.points %></div>
            </div>
            <div class="col-md-10 col-xs-12 text">
              <h2><%= link_to achievement.title, achievement %></h2>
              <% if show_details %>
                <p>
                  <strong>Pourquoi&nbsp;?</strong>
                  <%= raw achievement.why %>
                  <strong>Comment&nbsp;?</strong>
                  <%= raw achievement.how %>
                </p>
              <% end %>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="col-md-3">
    <div class="big-note"><%= student.note.to_i %>/<%= Achievement.sum :points %></div>
  </div>
</div>