<%= link_to 'Rafraîchir les données', sync_student_path(student), class: 'btn btn-default' if current_student.admin %>
<div class="row">
  <div class="col-md-9">
    <ul class="items list-unstyled">
      <% Achievement.all.each do |achievement| %>
        <% points = @student.note_for achievement %>
        <li>
          <div class="row">
            <div class="col-md-1 is-done">
              <p>
                <% if achievement.done_by? @student %>
                  <i class="fa fa-check-circle-o correct"></i>
                <% else %>
                  <i class="fa fa-circle-o incorrect"></i>
                <% end %>
              </p>
            </div>
            <div class="col-md-9">
              <h2><%= link_to achievement.title, achievement %></h2>
              <p>
                <strong>Pourquoi ?</strong>
                <%= raw achievement.why %>
                <strong>Comment ?</strong>
                <%= raw achievement.how %>
              </p>
            </div>
            <div class="col-md-2 note <%= achievement.done_by?(@student) ? 'correct' : 'incorrect' %> "><%= achievement.points_by(@student) %>/<%= achievement.points %></div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="col-md-3">
    <div class="big-note"><%= student.note %>/20</div>
  </div>
</div>