<% title = "Etudiants" %>
<% content_for :title do title end %>
<h1><%= title %></h1>
<%= link_to 'New Student', new_student_path, class: 'btn btn-default' %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Prénom</th>
      <th>Nom</th>
      <th>Promotion</th>
      <th>Codeschool</th>
      <th>Codecademy</th>
      <th>Github identifier</th>
      <th>Github repository</th>
      <th>Heroku app</th>
    </tr>
  </thead>
  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= link_to student.firstname, student %></td>
        <td><%= link_to student.lastname, student %></td>
        <td><%= link_to student.promotion, student.promotion %></td>
        <td><%= student.codeschool %></td>
        <td><%= student.codecademy %></td>
        <td><%= student.github_identifier %></td>
        <td><%= student.github_repository %></td>
        <td><%= student.heroku_app %></td>
      </tr>
    <% end %>
  </tbody>
</table>