<% title = "#{@student}" %>
<% content_for :title do title end %>
<h1><%= title %></h1>
<p><%= link_to @student.promotion, @student.promotion %></p>
<%= link_to 'Edit', edit_student_path(@student), class: 'btn btn-default' if current_student.admin %>

<%= link_to 'Rafraîchir les données', sync_student_path(@student), class: 'btn btn-default' if current_student.admin %>

<div class="row">
  <div class="col-md-9">
    <ul class="items list-unstyled">
      <% Achievement.all.each do |achievement| %>
        <% points = @student.note_for achievement %>
        <li>
          <div class="row achievement">
            <div class="col-md-2 col-xs-12 is-done">
              <div class="checkmark"><i class="fa <%= achievement.done_by?(@student) ? 'fa-check-circle-o correct' : 'fa-circle-o incorrect' %>"></i></div>
              <div class="note"><%= achievement.points_by(@student) %>/<%= achievement.points %></div>
            </div>
            <div class="col-md-10 col-xs-12 text">
              <h2><%= link_to achievement.title, achievement %></h2>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="col-md-3">
    <div class="big-note"><%= @student.note %>/20</div>
  </div>
</div>

<% if @student.codeschool %>
  <h2>Codeschool</h2>
  <%= link_to 'Profil', @student.codeschool_url, target: :blank %>

  <% if @student.codeschool_results? %>
      <p>Score : <%= @student.codeschool_score %></p>
      <ul class="list-inline">
      <% @student.codeschool_badges.each do |badge| %>
        <li>
          <a href="<%= badge['course_url'] %>" target="_blank">
            <img src="<%= badge['badge'] %>" alt="<%= badge['name'] %>" width="50"/>
          </a>
        </li>
      <% end %>
      </ul>
  <% end %>
<% end %>

<% if @student.codecademy %>
  <h2>Codecademy</h2>
  <%= link_to 'Profil', @student.codecademy_url, target: :blank %>
  <% unless @student.codecademy_data.nil? %>
    <p>Score : <%= @student.codecademy_score %></p>
    <h3>Skills</h3>
    <ul class="list-inline">
      <% @student.codecademy_skills.each do |skill| %>
        <li class="btn btn-primary btn-xs"><%= skill.text unless skill.nil? %></li>
      <% end unless @student.codecademy_skills.nil? %>
    </ul>
  <% end %>
<% end %>