<% title = "#{@student}" %>
<% content_for :title do title end %>
<h1><%= title %></h1>
<p><%= link_to @student.promotion, @student.promotion %></p>
<%= link_to 'Edit', edit_student_path(@student), class: 'btn btn-default' if current_student.admin %>

<%= render 'notes', student: @student %>

<% if @student.codeschool %>
  <h2>Codeschool</h2>
  <%= link_to 'Profil', @student.codeschool_url, target: :blank %>

  <% if @student.codeschool_results? %>
      <p>Score : <%= @student.codeschool_score %></p>
      <ul class="list-inline">
      <% @student.codeschool_badges.each do |badge| %>
        <li>
          <a href="<%= badge['course_url'] %>" target="_blank">
            <img src="<%= badge['badge'] %>" alt="<%= badge['name'] %>" width="50"/>
          </a>
        </li>
      <% end %>
      </ul>
  <% end %>
<% end %>

<% if @student.codecademy %>
  <h2>Codecademy</h2>
  <%= link_to 'Profil', @student.codecademy_url, target: :blank %>
  <% unless @student.codecademy_data.nil? %>
    <p>Score : <%= @student.codecademy_score %></p>
    <h3>Skills</h3>
    <ul class="list-inline">
      <% @student.codecademy_skills.each do |skill| %>
        <li class="btn btn-primary btn-xs"><%= skill.text unless skill.nil? %></li>
      <% end unless @student.codecademy_skills.nil? %>
    </ul>
    <h3>Badges</h3>
    <ul class="list-inline">
      <% @student.codecademy_badges_list.each do |badge| %>
        <li class="btn btn-primary btn-xs"><%= badge.text unless badge.nil? %></li>
      <% end unless @student.codecademy_badges_list.nil? %>
    </ul>
  <% end %>
<% end %>