<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @student.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @student.lastname %>
</p>

<p>
  <strong>Codeschool:</strong>
  <%= @student.codeschool %>
</p>

<p>
  <strong>Codecademy:</strong>
  <%= @student.codecademy %>
</p>

<p>
  <strong>Promotion:</strong>
  <%= @student.promotion_id %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
