<%= link_to 'Modifier',
            edit_admin_student_path(@student),
            class: 'btn btn-primary' %>
<%= link_to 'Rafraîchir les données',
            admin_student_sync_profile_path(@student),
            method: :post,
            class: 'btn btn-primary' %>

<h3>Codeschool</h3>
<% if @student.codeschool %>
  <%= link_to @student.codeschool_url, @student.codeschool_url, target: '_blank' %>
  <% if @student.codeschool_results? %>
    <p>Score : <%= @student.codeschool_score %></p>
    <ul class="list-unstyled">
      <% @student.codeschool_badges.each do |badge| %>
      <li>
        <a href="<%= badge['course_url'] %>" target="_blank">
          <img src="<%= badge['badge'] %>" alt="<%= badge['name'] %>" width="50"/>
          <%= badge['name'] %>
        </a>
      </li>
      <% end %>
    </ul>
  <% end %>
<% else %>
<p>Pas de profil</p>
<% end %>

<h3>Codecademy</h3>
<% if @student.codecademy %>
  <%= link_to @student.codecademy_url, @student.codecademy_url, target: '_blank' %>
  <% unless @student.codecademy_data.nil? %>
    <p>Score : <%= @student.codecademy_score %></p>
    <h3>Completed courses</h3>
    <ul class="list-unstyled">
      <% @student.codecademy_courses.each do |skill| %>
        <li><%= skill.text unless skill.nil? %></li>
      <% end unless @student.codecademy_courses.nil? %>
    </ul>
  <% end %>
<% else %>
  <p>Pas de profil</p>
<% end %>

<h3>Pluralsight</h3>
<% if @student.pluralsight %>
  <%= link_to @student.pluralsight_url, @student.pluralsight_url, target: '_blank' %>
<% else %>
  <p>Pas de profil</p>
<% end %>
<h3>Github</h3>
<%= link_to @student.github_identifier_url, @student.github_identifier_url, target: '_blank' %>
