<h1><%= @event %></h1>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<h2>Promotions</h2>
<ul>
  <% @event.promotions.each do |promotion| %>
    <li><%= link_to promotion, promotion %></li>
  <% end %>
</ul>

<h2>Teachers</h2>
<ul>
  <% @event.teachers.each do |teacher| %>
    <li><%= link_to teacher, teacher %></li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
