<%= link_to 'Nouvelle promotion',
            new_admin_promotion_path,
            class: 'btn btn-primary' %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Etudiants</th>
      <th>Evaluations</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @promotions.each do |promotion| %>
      <tr>
        <td><%= promotion %></td>
        <td><%= promotion.students.count %></td>
        <td><%= promotion.evaluations.count %></td>
        <td class="text-end">
          <%= link_to 'Voir', [:admin, promotion], class: 'btn btn-primary btn-sm' %>
          <%= link_to 'Evaluations', evaluations_admin_promotion_path(promotion), class: 'btn btn-primary btn-sm' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
