<%= title "Evaluation du projet \"#{@course}\"" %>

<%= simple_form_for @evaluation, url: course_evaluate_path(course_id: @course.id) do |f| %>
  <div class="row">
    <div class="col-md-4">
      <%= f.input :relevant_content, label: 'Contenus pertinents' %>
      <%= f.input :content_to_add, label: 'Contenus à ajouter' %>
      <%= f.input :content_to_remove, label: 'Contenus à supprimer' %>
      <%= f.input :comment, label: 'Commentaire' %>
    </div>
    <div class="col-md-4">
      <%= render 'evaluate.stars', f: f, property: :knowledge_acquired, 
            label: 'Connaissances acquises',
            hint: 'Les connaissances acquises sont les données, informations, concepts, idées que j\'ai pu comprendre, apprendre ou retenir grâce à ce projet.' %>
      <%= render 'evaluate.stars', f: f, property: :technical_skills_acquired, 
            label: 'Compétences techniques acquises',
            hint: 'Les compétences techniques acquises sont les savoir-faire que je maîtrise grâce au projet. Les choses que je ne savais pas faire avant et que je sais faire maintenant.' %>
      <%= render 'evaluate.stars', f: f, property: :soft_skills_acquired, 
            label: 'Compétences relationnelles acquises (soft skills)',
            hint: 'Les compétences relationnelles acquises sont les manières d\'être, les qualités de communication et d\'attitude que j\'ai pu découvrir ou améliorer grâce à ce projet.' %>
    </div>
    <div class="col-md-4">
      <%= render 'evaluate.stars', f: f, property: :quality, 
            label: 'Qualité globale du projet',
            hint: 'Ce projet m\'a-t-il beaucoup appris ?' %>
    </div>
  </div>
  <%= f.button :submit, 'Enregistrer l\'évaluation' %>
<% end %>
