<% content_for :title, @course %>

<h1><%= @course %></h1>

<%= raw @course.description %>

<div>
  <%= link_to 'Evaluer ce projet', course_evaluate_path(course_id: @course.id), class: 'btn btn-default' %>
</div>

<div class="row">
  <div class="col-md-9">
    <ul class="items list-unstyled">
      <% @course.achievements.each do |achievement| %>
        <% points = current_student.note_for_achievement achievement %>
        <li>
          <div class="row achievement">
            <div class="col-md-2 col-xs-12 is-done">
              <div class="checkmark"><i class="fa <%= achievement.done_by?(current_student) ? 'fa-check-circle-o correct' : 'fa-circle-o incorrect' %>"></i></div>
              <div class="note"><%= achievement.points_by current_student %>/<%= achievement.points %></div>
            </div>
            <div class="col-md-10 col-xs-12 text">
              <h2><%= achievement.title %></h2>
              <p>
                <strong>Pourquoi&nbsp;?</strong>
                <%= raw achievement.why %>
                <strong>Comment&nbsp;?</strong>
                <%= raw achievement.how %>
              </p>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="col-md-3">
    <div class="big-note"><%= current_student.note_for_course @course %>/<%= Achievement.sum :points %></div>
  </div>
</div>

<!--
<h2>Sessions</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Date</th>
      <th>Promotion</th>
      <th>Intervenant</th>
      <th>Sujet</th>
    </tr>
  </thead>
  <tbody>
    <% @course.events.each do |event| %>
      <tr<% if event.past? %> class="past"<% end %>>
        <td><%= l event.date, format: "%A %e %B" %></td>
        <td><%= event.promotions.collect(&:name).join(', ') %></td>
        <td><%= event.teachers.collect(&:firstname).join(' & ') %></td>
        <td><b><%= event.name %></b> <%= event.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Pour configurer sa machine</h2>
<p>Sur un Mac : <a href="https://github.com/thoughtbot/laptop" target="_blank">thoughtbot/laptop</a></p>
<p>Sur un Linux : <a href="https://github.com/lewagon/setup" target="_blank">lewagon/setup</a></p>

<h2>Pour aller plus loin...</h2>
<h3>... en front</h3>
<ul>
  <li><a href="https://www.codecademy.com/fr/learn/web" target="_blank">HTML &amp; CSS</a></li>
  <li><a href="https://www.codecademy.com/fr/learn/make-a-website" target="_blank">Make a Website</a></li>
  <li><a href="https://openclassrooms.com/courses/apprenez-a-creer-votre-site-web-avec-html5-et-css3" target="_blank">Apprenez à créer votre site web avec HTML5 et CSS3</a></li>
  <li><a href="https://openclassrooms.com/courses/prenez-en-main-bootstrap" target="_blank">Prenez en main Bootstrap</a></li>
</ul>

<h3>... en back</h3>
<ul>
  <li><a href="http://www.meetup.com/fr-FR/Ruby-Bordeaux" target="_blank">Participer à un Apéro Ruby</a></li>
  <li>Participer à un hackaton ou un startup weekend</li>
  <li><a href="https://codeclimate.com/" target="_blank">Utiliser Code Climate pour devenir un meilleur développeur</a></li>
  <li><a href="http://ricardogeek.com/docs/clean_code.pdf" target="_blank">Lire Clean Code</a></li>
  <li><a href="https://www.manning.com/books/the-well-grounded-rubyist" target="_blank">Lire The Well Grounded Rubyist</a></li>
</ul>
Programme et approche pédagogique construits en dialogue avec <a href="https://www.lewagon.com/programme" target="_blank">Le Wagon</a>
-->