<h1>Réalisations</h1>
<%= link_to 'Nouvelle réalisation', new_achievement_path %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Text</th>
      <th>Position</th>
      <th>Points</th>
      <th>Identifier</th>
      <th>Why</th>
      <th>How</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @achievements.each do |achievement| %>
      <tr>
        <td><%= achievement.title %></td>
        <td><%= achievement.text %></td>
        <td><%= achievement.position %></td>
        <td><%= achievement.points %></td>
        <td><%= achievement.identifier %></td>
        <td><%= achievement.why %></td>
        <td><%= achievement.how %></td>
        <td><%= link_to 'Show', achievement %></td>
        <td><%= link_to 'Edit', edit_achievement_path(achievement) %></td>
        <td><%= link_to 'Destroy', achievement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
