<% title = "Promotions" %>
<% content_for :title do title end %>
<h1><%= title %></h1>
<%= link_to 'New Promotion', new_promotion_path, class: 'btn btn-default' if current_student.admin %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Etudiants</th>
      <th>Moyenne</th>
    </tr>
  </thead>
  <tbody>
    <% @promotions.each do |promotion| %>
      <tr>
        <td><%= link_to promotion, promotion %></td>
        <td><%= promotion.students.count %></td>
        <td><%= promotion.average_note %></td>
      </tr>
    <% end %>
  </tbody>
</table>
