<% title = "#{@promotion}" %>
<% content_for :title do title end %>
<h1><%= title %></h1>

<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_promotion_path(@promotion), class: 'btn btn-default' %>

<table class="table">
  <tr>
    <th>Sync</th>
    <th>Prénom</th>
    <th>Nom</th>
    <th>Codeschool score</th>
    <th>Codeschool badges</th>
    <th>Codecademy note</th>
    <th>Codecademy score</th>
    <th>Codecademy skills</th>
    <th>Codecademy badges</th>
  </tr>
<% @promotion.students.each do |student| %>
  <tr>
    <td><%= link_to icon('refresh'), sync_student_path(student), :class => 'sync' %></td>
    <td><%= link_to student.firstname, student %></td>
    <td><%= link_to student.lastname, student %></td>
    <td><%= student.codeschool_score %></td>
    <td>
      <ul>
        <% student.codeschool_badges.each do |badge| %>
          <% unless badge.nil? %>
            <li>
              <a href="<%= badge['course_url'] %>" target="_blank">
                <img src="<%= badge['badge'] %>" alt="<%= badge['name'] %>" width="50"/>
              </a>
            </li>
          <% end %>
        <% end unless student.codeschool_badges.nil? %>
      </ul>
    </td>
    <td><%= student.codecademy_note %></td>
    <td><%= student.codecademy_score %></td>
    <td>
      <ul class="list-inline">
        <% student.codecademy_skills.each do |skill| %>
          <li class="btn btn-primary btn-xs"><%= skill.text unless skill.nil? %></li>
        <% end unless student.codecademy_skills.nil? %>
      </ul>
    </td>
    <td>
      <ul class="list-inline">
        <% student.codecademy_badges_list.each do |badge| %>
          <li class="btn btn-primary btn-xs"><%= badge.text unless badge.nil? %></li>
        <% end unless student.codecademy_badges_list.nil? %>
      </ul>
    </td>
  </tr>

<% end %>
</table>