<% title = "#{@promotion}" %>
<% content_for :title do title end %>
<h1><%= link_to icon('refresh'), '', class: 'promotion-sync' if current_student.admin %> <%= title %></h1>
<%= link_to 'Edit', edit_promotion_path(@promotion), class: 'btn btn-default' if current_student.admin %>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Note</th>
        <th>Codeschool</th>
        <th>Codecademy</th>
        <th>Github identifier</th>
        <th>Github repository</th>
        <th>Heroku app</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @promotion.students.each do |student| %>
        <tr>
          <td><%= link_to student.lastname, student %></td>
          <td><%= link_to student.firstname, student %></td>
          <td><%= student.note %></td>
          <td><%= link_to student.codeschool, student.codeschool_url, target: :blank unless student.codeschool_url.nil? %></td>
          <td><%= link_to student.codecademy, student.codecademy_url, target: :blank unless student.codecademy_url.nil? %></td>
          <td><%= link_to student.github_identifier, student.github_identifier_url, target: :blank unless student.github_identifier_url.nil? %></td>
          <td><%= link_to student.github_repository, student.github_repository_url, target: :blank unless student.github_repository_url.nil? %></td>
          <td><%= link_to student.heroku_app, student.heroku_app_url, target: :blank unless student.heroku_app_url.nil? %></td>
          <td><%= link_to icon('refresh'), sync_student_path(student), :class => 'sync' if current_student.admin %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>