<%= link_to 'Nouveau projet',
            new_admin_course_path,
            class: 'btn btn-primary' %>
<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Promotion</th>
      <th>Date</th>
      <th>Evaluations</th>
    </tr>
  </thead>
  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= link_to course, [:admin, course] %></td>
        <td><%= link_to course.promotion, [:admin, course.promotion] %></td>
        <td><%= l course.starting_at %></td>
        <td><%= course.evaluations.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
