<%= title @course %>
<p class="text-center"><%= link_to @course.promotion, [:admin, @course.promotion] %></p>
<%= link_to 'Modifier', edit_admin_course_path(@course), class: 'btn btn-default' %>

<h2><%= @course.evaluations.count %> évaluations</h2>
<div class="row">
  <div class="col-md-6">
    <%= render 'evaluations_integer', 
          title: 'Qualité globale du projet', 
          course: @course, 
          kind: :quality %>
    <%= render 'evaluations_integer', 
          title: 'Connaissances acquises', 
          course: @course, 
          kind: :knowledge_acquired %>
    <%= render 'evaluations_integer', 
          title: 'Compétences techniques acquises', 
          course: @course, 
          kind: :technical_skills_acquired %>
    <%= render 'evaluations_integer', 
          title: 'Compétences relationnelles acquises (soft skills)', 
          course: @course, 
          kind: :soft_skills_acquired %>
  </div>
  <div class="col-md-6">
    <%= render 'evaluations_text', 
          title: 'Contenus pertinents', 
          course: @course, 
          kind: :relevant_content %>
    <%= render 'evaluations_text', 
          title: 'Contenus à ajouter', 
          course: @course, 
          kind: :content_to_add %>
    <%= render 'evaluations_text', 
          title: 'Contenus à supprimer', 
          course: @course, 
          kind: :content_to_remove %>
    <%= render 'evaluations_text', 
          title: 'Commentaire', 
          course: @course, 
          kind: :comment %>
  </div>
</div>

<h2>Notes des étudiants</h2>
<p class="text-center">
  Moyenne <strong><%= @course.average_note.round 2 %></strong>, 
  médiane <strong><%= @course.median_note.round 2 %></strong>
</p>
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th width="200">Etudiant</th>
      <% @course.achievements.each do |achievement| %>
        <th><%= achievement %></th>
      <% end %>
      <th>Note</th>
    </tr>
  </thead>
  <tbody>
    <% @course.students.each do |student| %>
      <tr>
        <td><%= link_to student, [:admin, student] %></td>
        <% @course.achievements.each do |achievement| %>
          <td>
            <% if achievement.kind_note? %>
              <%= simple_form_for [:admin, achievement.note_for_student(student)], remote: true do |f| %>
                <%= f.input :value, label: false, input_html: { min: 0, max: achievement.points } %>
              <% end %>
            <% else %>
              <%= achievement.points_earned_by student %>
            <% end %>            
          </td>
        <% end %>
        <td><%= student.note_for_course @course %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Profils des étudiants</h2>
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th width="200">Etudiant</th>
      <th>Codeschool</th>
      <th>Pluralsight</th>
      <th>Codecademy</th>
      <th>Github</th>
      <th>Github repo</th>
      <th>Heroku app</th>
    </tr>
  </thead>
  <tbody>
    <% @course.students.each do |student| %>
      <tr>
        <td>
          <%= link_to student, [:admin, student] %>
          <%= link_to 'Edit', edit_admin_student_path(student), class: 'btn btn-default btn-xs' %>  
        </td>
        <td><%= link_to student.codeschool, student.codeschool_url, target: '_blank' unless student.codeschool_url.nil? %></td>
        <td><%= link_to student.pluralsight, student.pluralsight_url, target: '_blank' unless student.pluralsight_url.nil? %></td>
        <td><%= link_to student.codecademy, student.codecademy_url, target: '_blank' unless student.codecademy_url.nil? %></td>
        <td><%= link_to student.github_identifier, student.github_identifier_url, target: '_blank' unless student.github_identifier_url.nil? %></td>
        <td><%= link_to student.github_repository, student.github_repository_url, target: '_blank' unless student.github_repository_url.nil? %></td>
        <td><%= link_to student.heroku_app, student.heroku_app_url, target: '_blank' unless student.heroku_app_url.nil? %></td>
      </tr>
    <% end %>
  </tbody>
</table>
