<%= title @course %>
<p class="text-center"><%= link_to @course.promotion, [:admin, @course.promotion] %></p>
<%= link_to 'Modifier', edit_admin_course_path(@course), class: 'btn btn-default' %>

<h2>Evaluations</h2>
<p class="text-center"><%= @course.evaluations.count %> evaluations</p>
<div class="row">
  <div class="col-md-4">
    <%= render 'evaluations_integer', 
          title: 'Qualité globale du projet', 
          course: @course, 
          kind: :quality %>
    <%= render 'evaluations_integer', 
          title: 'Connaissances acquises', 
          course: @course, 
          kind: :knowledge_acquired %>
    <%= render 'evaluations_integer', 
          title: 'Compétences techniques acquises', 
          course: @course, 
          kind: :technical_skills_acquired %>
    <%= render 'evaluations_integer', 
          title: 'Compétences relationnelles acquises (soft skills)', 
          course: @course, 
          kind: :soft_skills_acquired %>
  </div>
  <div class="col-md-8">
    <%= render 'evaluations_text', 
          title: 'Contenus pertinents', 
          course: @course, 
          kind: :relevant_content %>
    <%= render 'evaluations_text', 
          title: 'Contenus à ajouter', 
          course: @course, 
          kind: :content_to_add %>
    <%= render 'evaluations_text', 
          title: 'Contenus à supprimer', 
          course: @course, 
          kind: :content_to_remove %>
    <%= render 'evaluations_text', 
          title: 'Commentaire', 
          course: @course, 
          kind: :comment %>
  </div>
</div>

<h2>Etudiants</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th width="200">Etudiant</th>
      <% @course.achievements.each do |achievement| %>
        <th><%= achievement %></th>
      <% end %>
      <th>Note</th>
    </tr>
  </thead>
  <tbody>
    <% @course.students.each do |student| %>
      <tr>
        <td><%= link_to student, [:admin, student] %></td>
        <% @course.achievements.each do |achievement| %>
          <td><%= student.note_for_achievement achievement %></td>
        <% end %>
        <td><%= student.note_for_course @course %></td>
      </tr>
    <% end %>
  </tbody>
</table>
