<%= link_to 'Modifier',
            edit_admin_course_path(@course),
            class: 'btn btn-primary' %>
<%= link_to 'Evaluations',
            evaluations_admin_course_path(@course),
            class: 'btn btn-primary' %>

<h2 class="mt-5">Achievements</h2>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Points</th>
        <th>Kind</th>
        <th>Identifier</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @course.achievements.each do |achievement| %>
        <tr>
          <td><%= link_to achievement.title, [:admin, achievement] %></td>
          <td><%= achievement.points %></td>
          <td><%= achievement.kind %></td>
          <td><%= achievement.identifier %></td>
          <td>
            <%= link_to 'Edit', edit_admin_achievement_path(achievement), class: 'btn btn-primary btn-sm' if current_student.admin %>
            <%= link_to 'Destroy', [:admin, achievement], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


<h2>Notes des étudiants</h2>
<p class="text-center">
  Moyenne <strong><%= @course.average_note.to_f.round 2 %></strong>,
  médiane <strong><%= @course.median_note.to_f.round 2 %></strong>
</p>
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th width="200">Etudiant</th>
      <% @course.achievements.each do |achievement| %>
        <th><%= achievement %> (<%= achievement.points %>)</th>
      <% end %>
      <th>Note (<%= @course.points_total %>)</th>
    </tr>
  </thead>
  <tbody>
    <% @course.students.each do |student| %>
      <tr>
        <td><%= link_to student, [:admin, student] %></td>
        <% @course.achievements.each do |achievement| %>
          <td>
            <% if achievement.kind_note? %>
              <%= simple_form_for [:admin, achievement.note_for_student(student)], remote: true do |f| %>
                <%= f.input :value, label: false, input_html: { min: 0, max: achievement.points } %>
              <% end %>
            <% else %>
              <%= achievement.points_earned_by student %>
            <% end %>
          </td>
        <% end %>
        <td><%= student.note_for_course @course %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Synthèse</h2>

<pre>
<% @course.students.each do |student| %>
<%= student %>&Tab;<%= student.note_for_course @course %>
<% end %>
</pre>
