<%= title @course %>
<p class="text-center"><%= link_to @course.promotion, [:admin, @course.promotion] %></p>
<%= link_to 'Modifier', edit_admin_course_path(@course), class: 'btn btn-default' %>

<h2>Evaluations</h2>
<p><%= @course.evaluations.count %> evaluations</p>
<div class="row">
  <div class="col-md-4">
    <p>
      Qualité globale du projet: 
      <%= number_with_precision @course.evaluations.average(:quality), precision: 1 %>
    </p>
    <p>
      Connaissances acquises: 
      <%= number_with_precision @course.evaluations.average(:knowledge_acquired) %>    
    </p>
    <p>
      Compétences techniques acquises:
      <%= number_with_precision @course.evaluations.average(:technical_skills_acquired) %>
    </p>
    <p>
      Compétences relationnelles acquises (soft skills): 
      <%= number_with_precision @course.evaluations.average(:soft_skills_acquired) %>
    </p>
  </div>
  <div class="col-md-8">
    <h3>Contenus pertinents</h3>
    <%= render 'evaluations', course: @course, kind: :relevant_content %>
    <h3>Contenus à ajouter</h3>
    <%= render 'evaluations', course: @course, kind: :content_to_add %>
    <h3>Contenus à supprimer</h3>
    <%= render 'evaluations', course: @course, kind: :content_to_remove %>
    <h3>Commentaire</h3>
    <%= render 'evaluations', course: @course, kind: :comment %>
  </div>
</div>

<h2>Etudiants</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th width="200">Etudiant</th>
      <% @course.achievements.each do |achievement| %>
        <th><%= achievement %></th>
      <% end %>
      <th>Note</th>
    </tr>
  </thead>
  <tbody>
    <% @course.students.each do |student| %>
      <tr>
        <td><%= link_to student, [:admin, student] %></td>
        <% @course.achievements.each do |achievement| %>
          <td><%= student.note_for_achievement achievement %></td>
        <% end %>
        <td><%= student.note_for_course @course %></td>
      </tr>
    <% end %>
  </tbody>
</table>
