<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? yield(:title) : "Learn" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= favicon_link_tag 'favicon-bolt.ico' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="navbar navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="<%= root_path %>"><%= fa_icon :bolt %> Learn</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav pull-right">
            <% if student_signed_in? %>
              <li><%= link_to 'Accueil', root_path %></li>
              <% if current_student.admin %>
                <li><%= link_to 'Promotions', promotions_path %></li>
                <li><%= link_to 'Cours', courses_path %></li>
                <li><%= link_to 'Etudiants', students_path %></li>
                <li><%= link_to 'Réalisations', achievements_path %></li>
                <li><%= link_to 'Evénements', events_path %></li>
              <% end %>
              <li><%= link_to 'Déconnexion', destroy_student_session_path, method: :delete %></li>
            <% end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <div class="container">
      <% unless notice.nil? %>
        <p class="alert alert-success">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <%= notice %>
        </p>
      <% end %>
      <% unless alert.nil? %>
        <p class="alert alert-warning">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <%= alert %>
        </p>
      <% end %>
      <div>
        <%= yield %>
      </div>
    </div><!-- /.container -->
    <footer></footer>
    <%= javascript_include_tag "application" %>
    <a href="https://github.com/arnaudlevy/mystudents"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"></a>
  </body>
</html>