<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? yield(:title) : "Learn" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= favicon_link_tag 'favicon.png' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'application/nav' %>
    <%= render 'application/jumbotron' %>
    <main class="container-fluid">
      <%= render 'application/breadcrumb' %>
      <%= render 'application/notice' %>
      <%= yield %>
    </main>
    <%= render 'application/footer' %>
  </body>
</html>
