<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? yield(:title) : "Learn" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= favicon_link_tag 'favicon-bolt.ico' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="navbar navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="<%= root_path %>"><%= icon :bolt %> Learn</a>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <% unless notice.nil? %>
            <p class="alert alert-success">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              <%= notice %>
            </p>
          <% end %>
          <% unless alert.nil? %>
            <p class="alert alert-warning">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              <%= alert %>
            </p>
          <% end %>
          <div>
            <%= yield %>
          </div>
        </div>
      </div>
    </div><!-- /.container -->
    <footer></footer>
    <%= javascript_include_tag "application" %>
  </body>
</html>